@import url("dimens.less");
@import url("colors.less");
@import url("landing_colors.less");
@import url("theme.less");

html,
body,
header,
.view,
.view .container-fluid {
  height: 100%;
}

.view {
  background: url("../images/15.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.view .container-fluid {
  padding-top: 200px;
  padding-top: 33vh;
}

footer.page-footer {
  margin-top: 0px;
}

.h1-responsive {
  font-size: 200%;
}

@media (min-width: 576px) {
  .h1-responsive {
      font-size: 250%;
  }
}
@media (min-width: 768px) {
  .h1-responsive {
    font-size: 300%;
  }
}
@media (min-width: 992px) {
  .h1-responsive {
    font-size: 350%;
  }
}

@media (min-width: 1200px) {
  .h1-responsive {
    font-size: 400%;
  }
}

.btn-reiki {
  color: @textPrimaryColor  !important;
  background-color: @reikiPrimaryColor;
}

.btn-tarot {
  color: @textPrimaryColor  !important;
  background-color: @tarotPrimaryColor;
}

.btn-angels {
  color: @textPrimaryColor  !important;
  background-color: @angelsPrimaryColor;
}

.btn-massages {
  color: @textPrimaryColor  !important;
  background-color: @massagesPrimaryColor;
}