main {
  padding-top: 84px;
}

main > .container > .row {
  padding-bottom: @cardMargin;
}

.row.articles .card {
  margin-bottom: @cardMargin;
}

.row.articles .card:last-child {
  margin-bottom: 0px;
}