main {
  padding-top: @topMargin;
}

section {
  padding-bottom: @cardMargin;
}

#map {
  width: 500px;
  height: 400px;
}

#clanky {
  display: block;
  visibility: hidden;
  position: relative;
  top: -@topMargin;
}