@darkPrimaryColor:   #E53935;
@primaryColor:       #EF5350;
@lightPrimaryColor:  #FFEBEE;
@textPrimaryColor:   #FFFFFF;
@textSecondaryColor: #757575;
@darkAccentColor:    #47322B;
@accentColor:        #795548;
@lightAccentColor:   #A77B6B;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575; 
@dividerColor:       #BDBDBD;
