@darkPrimaryColor:   #3E2723;
@primaryColor:       #5D4037;
@lightPrimaryColor:  #A1887F;
@textPrimaryColor:   #FFFFFF;
@textSecondaryColor: #757575;
@darkAccentColor:    #FFB300;
@accentColor:        #FFC400;
@lightAccentColor:   #FFD033;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575; 
@dividerColor:       #BDBDBD;
