@darkPrimaryColor:   #689F38;
@primaryColor:       #8BC34A;
@lightPrimaryColor:  #DCEDC8;
@textPrimaryColor:   #FFFFFF;
@textSecondaryColor: #757575;
@darkAccentColor:    #47322B;
@accentColor:        #795548;
@lightAccentColor:   #A77B6B;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575; 
@dividerColor:       #BDBDBD;

                                