@darkPrimaryColor: #689F38;
@primaryColor: #8BC34A;
@lightPrimaryColor: #DCEDC8;
@textPrimaryColor: #212121;
@darkAccentColor: #00796B;
@accentColor: #009688;
@lightAccentColor: #B2DFDB;
@primaryTextColor: #212121;
@secondaryTextColor: #757575;
@dividerColor: #BDBDBD;

@navbarTextColor: #FFFFFF;