@darkPrimaryColor:   #039BE5;
@primaryColor:       #29B6F6;
@lightPrimaryColor:  #E1F5FE;
@textPrimaryColor:   #FFFFFF;
@textSecondaryColor: #757575;
@darkAccentColor:    #FFB300;
@accentColor:        #FFC400;
@lightAccentColor:   #FFD033;
@accentTextColor:    #5D4037;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575; 
@dividerColor:       #BDBDBD;
