@darkPrimaryColor:   #673AB7;
@primaryColor:       #9575CD;
@lightPrimaryColor:  #EDE7F6;
@textPrimaryColor:   #FFFFFF;
@textSecondaryColor: #757575;
@darkAccentColor:    #FFB300;
@accentColor:        #FFC400;
@lightAccentColor:   #FFD033;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575;
@dividerColor:       #BDBDBD;
