@darkPrimaryColor: #689F38;
@primaryColor: #CCAABB;
@lightPrimaryColor: #DCEDC8;
@textPrimaryColor: #212121;
@darkAccentColor: #00796B;
@accentColor: #009688;
@lightAccentColor: #B2DFDB;
@dividerColor: #BDBDBD;
